// Internal Palette
$STRAWBERRY_100: #f38ba8; 
$STRAWBERRY_300: #f38ba8; 
$STRAWBERRY_500: #f38ba8; 
$STRAWBERRY_700: #f38ba8; 
$STRAWBERRY_900: #f38ba8; 

$ORANGE_100: #fab387; 
$ORANGE_300: #fab387; 
$ORANGE_500: #fab387; 
$ORANGE_700: #fab387; 
$ORANGE_900: #fab387; 

$BANANA_100: #df8e1d; 
$BANANA_300: #df8e1d; 
$BANANA_500: #df8e1d; 
$BANANA_700: #df8e1d; 
$BANANA_900: #df8e1d; 

$LIME_100: #a6e3a1; 
$LIME_300: #a6e3a1; 
$LIME_500: #a6e3a1; 
$LIME_700: #a6e3a1; 
$LIME_900: #a6e3a1; 

$MINT_100: #94e2d5; 
$MINT_300: #94e2d5; 
$MINT_500: #94e2d5; 
$MINT_700: #94e2d5; 
$MINT_900: #94e2d5; 

$BLUEBERRY_100: #89b4fa; 
$BLUEBERRY_300: #89b4fa; 
$BLUEBERRY_500: #89b4fa; 
$BLUEBERRY_700: #89b4fa; 
$BLUEBERRY_900: #89b4fa; 

$BUBBLEGUM_100: #f5c2e7; 
$BUBBLEGUM_300: #f5c2e7; 
$BUBBLEGUM_500: #f5c2e7; 
$BUBBLEGUM_700: #f5c2e7; 
$BUBBLEGUM_900: #f5c2e7; 

$GRAPE_100: #b4befe; 
$GRAPE_300: #b4befe;
$GRAPE_500: #b4befe; 
$GRAPE_700: #b4befe; 
$GRAPE_900: #b4befe; 

$COCOA_100: #a3907c;
$COCOA_300: #8a715e;
$COCOA_500: #715344;
$COCOA_700: #57392d;
$COCOA_900: #3d211b;

$SILVER_100: #dce0e8; 
$SILVER_300: #e6e9ef; 
$SILVER_500: #eff1f5; 
$SILVER_700: #ccd0da; 
$SILVER_900: #bcc0cc; 

$SLATE_100: #585b70; 
$SLATE_300: #585b70; 
$SLATE_500: #585b70; 
$SLATE_700: #585b70; 
$SLATE_900: #585b70; 

$BLACK_100: #11111b; 
$BLACK_300: #181825; 
$BLACK_500: #1e1e2e; 
$BLACK_700: #313244; 
$BLACK_900: #45475a; 

// Exported
@define-color STRAWBERRY_100 #{$STRAWBERRY_100};
@define-color STRAWBERRY_300 #{$STRAWBERRY_300};
@define-color STRAWBERRY_500 #{$STRAWBERRY_500};
@define-color STRAWBERRY_700 #{$STRAWBERRY_700};
@define-color STRAWBERRY_900 #{$STRAWBERRY_900};

@define-color ORANGE_100 #{$ORANGE_100};
@define-color ORANGE_300 #{$ORANGE_300};
@define-color ORANGE_500 #{$ORANGE_500};
@define-color ORANGE_700 #{$ORANGE_700};
@define-color ORANGE_900 #{$ORANGE_900};

@define-color BANANA_100 #{$BANANA_100};
@define-color BANANA_300 #{$BANANA_300};
@define-color BANANA_500 #{$BANANA_500};
@define-color BANANA_700 #{$BANANA_700};
@define-color BANANA_900 #{$BANANA_900};

@define-color LIME_100 #{$LIME_100};
@define-color LIME_300 #{$LIME_300};
@define-color LIME_500 #{$LIME_500};
@define-color LIME_700 #{$LIME_700};
@define-color LIME_900 #{$LIME_900};

@define-color MINT_100 #{$MINT_100};
@define-color MINT_300 #{$MINT_300};
@define-color MINT_500 #{$MINT_500};
@define-color MINT_700 #{$MINT_700};
@define-color MINT_900 #{$MINT_900};

@define-color BLUEBERRY_100 #{$BLUEBERRY_100};
@define-color BLUEBERRY_300 #{$BLUEBERRY_300};
@define-color BLUEBERRY_500 #{$BLUEBERRY_500};
@define-color BLUEBERRY_700 #{$BLUEBERRY_700};
@define-color BLUEBERRY_900 #{$BLUEBERRY_900};

@define-color BUBBLEGUM_100 #{$BUBBLEGUM_100};
@define-color BUBBLEGUM_300 #{$BUBBLEGUM_300};
@define-color BUBBLEGUM_500 #{$BUBBLEGUM_500};
@define-color BUBBLEGUM_700 #{$BUBBLEGUM_700};
@define-color BUBBLEGUM_900 #{$BUBBLEGUM_900};

@define-color GRAPE_100 #{$GRAPE_100};
@define-color GRAPE_300 #{$GRAPE_300};
@define-color GRAPE_500 #{$GRAPE_500};
@define-color GRAPE_700 #{$GRAPE_700};
@define-color GRAPE_900 #{$GRAPE_900};

@define-color COCOA_100 #{$COCOA_100};
@define-color COCOA_300 #{$COCOA_300};
@define-color COCOA_500 #{$COCOA_500};
@define-color COCOA_700 #{$COCOA_700};
@define-color COCOA_900 #{$COCOA_900};

@define-color SILVER_100 #{$SILVER_100};
@define-color SILVER_300 #{$SILVER_300};
@define-color SILVER_500 #{$SILVER_500};
@define-color SILVER_700 #{$SILVER_700};
@define-color SILVER_900 #{$SILVER_900};

@define-color SLATE_100 #{$SLATE_100};
@define-color SLATE_300 #{$SLATE_300};
@define-color SLATE_500 #{$SLATE_500};
@define-color SLATE_700 #{$SLATE_700};
@define-color SLATE_900 #{$SLATE_900};

@define-color BLACK_100 #{$BLACK_100};
@define-color BLACK_300 #{$BLACK_300};
@define-color BLACK_500 #{$BLACK_500};
@define-color BLACK_700 #{$BLACK_700};
@define-color BLACK_900 #{"" + $BLACK_900};
